@font-face{
    font-family:'Poppins' ;
    src: url(../fonts/Poppins-Regular.woff)format(woff);
    font-display: swap;
    font-weight: 400;
    font-style: normal;

}
@font-face{
    font-family:'Poppins' ;
    src: url(../fonts/Poppins-Medium.woff)format(woff);
    font-display: swap;
    font-weight: 500;
    font-style: normal;

}
@font-face{
    font-family:'Poppins' ;
    src: url(../fonts/Poppins-Bold.woff)format(woff);
    font-display: swap;
    font-weight: 7 00;
    font-style: normal;

}
*{
    box-sizing: border-box;
}
*::before,
*::after
{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
img{
    max-width: 100%;
}
.list-reset{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.btn-reset{
    font-family: 'Poppins',sans-serif;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.link{
    display: inline-flex;
    align-items: center;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #d4d6d4;
    text-decoration:  none;
    transition: color 0.3s ease-in-out;
}
.link svg{
    width: 9px;
    height: 9px;
    fill: currentColor;
    border-bottom: none;

}
.link span{
    text-indent: 10px;
    border-bottom: 1px solid currentColor;
}
.link:hover{
    color:#ffd723;

}
/*******************************
********hero-section*************
********************************
*/
.header-container{
    display: flex;
    justify-content: space-between;
}
.header{
    padding-top: 24px;
    padding-bottom: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.burger{
    
    position: relative;
    border-radius: 100%;
    padding: 14px 11px;
    width: 40px;
    height: 40px;
    background-color: #F5F6F7;
}

.burger-line {
    display:block;
    width:18px;
    height: 3px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 4px;
    margin-top: -1px;/*это надо изменить*/
}
.hero-content{
    max-width: 616px;
    color: #fff;
}
.hero{
    padding: 189px;
    background-image: url(../images/Bitmap.png);
    background-repeat: no-repeat;
    background-position: center  center;
    background-size:cover ;
}
.hero-subtitle{
    font-weight: 400;
    line-height: 21px;
    

}
.hero-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
}
.hero-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}






